<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Edit Profile</title>
</head>
<body>
	<form action="#" th:action="@{/manager/user/edit/{id}(id=${user.userId})}" th:object="${user}" method="post">
		<p>
			Username: <input type="text" th:field="*{username}" readonly="true" />
		</p>
		<p>
			Email: <input type="text" th:field="*{email}" />
		<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
		</p>
		<p>
			First Name: <input type="text" th:field="*{firstName}" />
		<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		</p>
		<p>
			Last Name: <input type="text" th:field="*{lastName}" />
		<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
		</p>
		<p>
			Phone: <input type="text" th:field="*{phone}" />
		<p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
		</p>
		<p>
			Address Line1: <input type="text" th:field="*{addressLine1}" />
		<p th:if="${#fields.hasErrors('addressLine1')}"
			th:errors="*{addressLine1}"></p>
		</p>
		<p>
			City: <input type="text" th:field="*{city}" />
		<p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
		</p>
		<p>
			Zip: <input type="text" th:field="*{zip}" />
		<p th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></p>
		</p>
		<p>
			State: <input type="text" th:field="*{state}" />
		<p th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></p>
		</p>
		<p>
			Role: <select th:field="*{role}">
				<option th:value="ROLE_INDIVIDUAL" th:selected="(*{role} == ROLE_INDIVIDUAL)">Individual</option>
				<option th:value="ROLE_MERCHANT" th:selected="(*{role} == ROLE_MERCHANT)">Merchant</option>
			</select>
		<p th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>