<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Internal User Request</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>

	<div class="alert alert-danger" th:if="${param.error}"></div>

	<div class="container">
		<form class="form-horizontal" action="#" th:action="@{/admin/user/request/{id}(id=${modificationrequest.modificationRequestId})}"
		th:object="${modificationrequest}" method="post">
		<fieldset>

			<!-- Form Name -->
			<legend>View Internal User Request</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">First
					Name</label>
					<div class="col-md-4">
						<input id="textinput" name="textinput" type="text" placeholder=""
						class="form-control input-md" th:field="*{firstName}" />
						<div class="alert alert-danger"
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="textinput">Last
						Name</label>
						<div class="col-md-4">
							<input id="textinput" name="textinput" type="text" placeholder=""
							class="form-control input-md" required="" th:field="*{lastName}" />
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">E-mail</label>
						<div class="col-md-4">
							<input id="textinput" name="textinput" type="text" placeholder=""
							class="form-control input-md" th:field="*{email}" readonly="true"/>
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">Phone
							Number</label>
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="text" placeholder=""
								class="form-control input-md" required="" th:field="*{phone}" />
								<div class="alert alert-danger"
								th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Address
								Line 1</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" placeholder=""
									class="form-control input-md" required=""
									th:field="*{addressLine1}" />
									<div class="alert alert-danger"
									th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">City</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" placeholder=""
									class="form-control input-md" required="" th:field="*{city}" />
									<div class="alert alert-danger"
									th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">State</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" placeholder=""
									class="form-control input-md" required="" th:field="*{state}" />
									<div class="alert alert-danger"
									th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Zipcode</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" placeholder=""
									class="form-control input-md" th:field="*{zip}" />
									<div class="alert alert-danger"
									th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="selectbasic">Role</label>
								<div class="col-md-4">
									<select id="selectbasic" name="selectbasic" class="form-control"
									th:field="*{role}">
									<option value="ROLE_EMPLOYEE">Employee</option>
									<option value="ROLE_MANAGER">System Manager</option>
								</select>
							</div>
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="radios"></label>
							<div class="col-md-4">
								<div class="radio">
									<label for="radios-0">
										<input type="radio" name="radios" id="radios-0" th:field="*{status}" th:value="approved">
										Approve</input>
									</label>
								</div>
								<div class="radio">
									<label for="radios-1">
										<input type="radio" name="radios" id="radios-1" th:field="*{status}" th:value="rejected"
										th:checked="1">
										Reject</input>
									</label>
								</div>
							</div>
						</div>


						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="submitbutton"></label>
							<div class="col-md-8">
								<button id="submitbutton" name="submitbutton" type="submit"
								class="btn btn-primary">Submit</button>
								<button id="resetbutton" name="resetbutton" type="reset"
								class="btn btn-default">Reset</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>

		</body>
		</html>
