<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<p class="navbar-brand">Cardinals Banking</p>
		</div>
		<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/admin/details}">My Dashboard</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
		</div>
	</nav>

	<div class="container">
		<h3>Admin Dashboard</h3>
		<ul class="nav nav-tabs nav-justified">
			<li><a th:href="@{/admin/user}">View Internal User Accounts</a></li>
			<li class="active"><a href="#">Create Internal User Account</a></li>
			<li><a th:href="@{/admin/details}">My Profile</a></li>
			<li><a th:href="@{/admin/user/request}">New Internal User Requests</a></li>
			<li><a th:href="@{/admin/syslogs}">System Logs</a></li>
		</ul>
	</div>

	<div class="container">
		<form class="form-horizontal" action="#"
			th:action="@{/admin/user/add}" th:object="${newUserRequest}"
			method="post">
			<fieldset>

				<!-- Form Name -->
				<legend>New Internal User</legend>
				<div class="alert alert-success" th:if="${success}">Request
					Sent</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="textinput">Email</label>
					<div class="col-md-4">
						<input id="textinput" name="textinput" type="text" placeholder=""
							class="form-control input-md" required="" th:field="*{email}" />
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="selectbasic">Role</label>
					<div class="col-md-4">
						<select id="selectbasic" name="selectbasic" class="form-control"
							th:field="*{role}">
							<option value="ROLE_EMPLOYEE">Employee</option>
							<option value="ROLE_MANAGER">System Manager</option>
							<option value="ROLE_ADMIN">Admin</option>
						</select>
					</div>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
				</div>

				<!-- Button (Double) -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="button1id"></label>
					<div class="col-md-8">
						<input id="submit-btn" name="submit-btn" type="submit"
							class="btn btn-primary" value="Submit" /> <input id="reset-btn"
							name="reset-btn" type="reset" class="btn btn-inverse"
							value="Reset" />
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</body>
</html>
