.download_statement {
	background-color:#000502;
	border:1px solid #010501;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #020801;
}
.download_statement:hover {
	background-color:#030501;
}
.download_statement:active {
	position:relative;
	top:1px;
}
