<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<form action="#"
		th:action="@{/employee/user/request/delete/{id}(id=${modificationrequest.modificationRequestId})}"
		th:object="${modificationrequest}" method="post">
		<p>Email:
		<p th:text="*{email}" /></p>
		<p>First Name:
		<p th:text="*{firstName}" /></p>
		<p>Last Name:
		<p th:text="*{lastName}" /></p>
		<p>Phone:
		<p th:text="*{phone}" /></p>
		<p>Address Line1:
		<p th:text="*{addressLine1}" /></p>
		<p>City:
		<p th:text="*{city}" /></p>
		<p>Zip:
		<p th:text="*{zip}" /></p>
		<p>State:
		<p th:text="*{state}" /></p>
		<p>Role:
		<p th:text="*{role}" /></p>
		<p>
			<input type="submit" value="Delete" /> 
		</p>
	</form>
</body>
</html>