<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <script src="webjars/jquery/2.1.4/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
  </script>
</head>
<body>
  <div class="container">
    <h3>Admin Dashboard</h3>
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#">View Internal User Accounts</a></li>
      <li><a th:href="@{/admindash_create_account}">Create Internal User Account</a></li>
      <li><a th:href="@{/admindash_system_logs}">System Logs</a></li>
    </ul>
  </div>

  <div class="input-group"> <span class="input-group-addon">Filter</span>

    <input id="filter" type="text" class="form-control" placeholder="Type here..."/>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Middle Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody class="searchable">
        <tr th:each="user:${userlist}">
          <td th:text="${user.userId}"></td>
          <td th:text="${user.username}"></td>
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.middleName}"></td>
          <td th:text="${user.email}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
